@use "../../Sass/Colors.scss" as a;


.taskDisplay{
    flex: 1 1 15%;
    max-width: 20%;
    min-width: 20%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: #fffffe; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 15px 0;
    transition: background-color 0.3s;
    h2{
        font-family: 'Libre Franklin', sans-serif;
        font-size: 24px;
        color: #333;
        margin-bottom: 15px;
    }
    .description{
        word-wrap: break-word;
        color: #555;
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.4;
    }
    button {
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }
    .delete:hover{
        background-color: rgb(255, 106, 106);
    }
    .complete:hover{
        background-color: a.$Greenblue;
    }
    p:nth-child(3) {
        margin-bottom: 15px;
        color: #777;
    }
    button:hover {
        transform: scale(1.05);
    }
    
    button:focus {
        outline: none;
    }
    
}
.taskDisplay:hover {
    background-color: #fff3e0e3;
}





